<script id="buttongroupTemp" type="text/x-kendo-template">
    <div class="row">
        <div class="col-lg-6 col-xl-4">
            <div class="card mb-3">
                <h5 class="card-header">DOM 按钮组</h5>
                <div class="card-body">
                    <ul id="domButtonGroup">
                        <li><i class="fas fa-yin-yang mr-1"></i>样式按钮</li>
                        <li><i class="k-icon k-i-star mr-1"></i>图标按钮</li>
                        <li><img src="img/IKKI.png" alt="">图片按钮</li>
                        <li><a class="k-link" href="javascript:;">链接按钮</a></li>
                        <li disabled>禁用按钮</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-4">
            <div class="card mb-3">
                <h5 class="card-header">图标按钮组</h5>
                <div class="card-body">
                    <div id="iconButtonGroup"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-4">
            <div class="card mb-3">
                <h5 class="card-header">图片按钮组</h5>
                <div class="card-body">
                    <div id="imageButtonGroup"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-4">
            <div class="card mb-3">
                <h5 class="card-header">单选按钮组</h5>
                <div class="card-body">
                    <div id="singleButtonGroup"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-4">
            <div class="card mb-3">
                <h5 class="card-header">多选按钮组</h5>
                <div class="card-body">
                    <div id="multipleButtonGroup"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-4">
            <div class="card mb-3">
                <h5 class="card-header">禁用按钮组</h5>
                <div class="card-body">
                    <div id="disabledButtonGroup"></div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card mb-3">
                <h5 class="card-header">按钮组格式</h5>
                <div class="card-body">
                    <div id="dataTypeButtonGroup"></div>
                </div>
            </div>
        </div>
    </div>
    <style scoped>
        .k-button img {
            margin-right: 4px;
            width: 16px;
            height: 16px;
        }
    </style>
</script>