<script id="treeviewTemp" type="text/x-kendo-template">
    <div class="row">
        <div class="col-xl-6">
            <div class="card mb-3">
                <h5 class="card-header">DOM 树形视图</h5>
                <div class="card-body">
                    <ul id="domTreeView">
                        <li data-expanded="true">
                            <i class="k-sprite fas fa-university k-required"></i>圣域
                            <ul>
                                <li><i class="k-sprite fas fa-user-tie k-required"></i>神</li>
                                <li><i class="k-sprite fas fa-user-graduate k-required"></i>教皇</li>
                                <li data-expanded="true">
                                    <i class="k-sprite fas fa-user k-required"></i>黄金圣斗士
                                    <ul>
                                        <li><a href="javascript:;"><img class="k-image" src="img/temp/Aries.png" alt="">白羊座-穆</a></li>
                                        <li><a href="javascript:;"><img class="k-image" src="img/temp/Taurus.png" alt="">金牛座-阿鲁迪巴</a></li>
                                        <li><a href="javascript:;"><img class="k-image" src="img/temp/Gemini.png" alt="">双子座-撒加</a></li>
                                        <li><a href="javascript:;"><img class="k-image" src="img/temp/Cancer.png" alt="">巨蟹座-迪斯马斯克</a></li>
                                        <li><a href="javascript:;"><img class="k-image" src="img/temp/Leo.png" alt="">狮子座-艾欧里亚</a></li>
                                        <li><a href="javascript:;"><img class="k-image" src="img/temp/Virgo.png" alt="">处女座-沙加</a></li>
                                        <li><a href="javascript:;"><img class="k-image" src="img/temp/Libra.png" alt="">天秤座-童虎</a></li>
                                        <li><a href="javascript:;"><img class="k-image" src="img/temp/Scorpion.png" alt="">天蝎座-米罗</a></li>
                                        <li><a href="javascript:;"><img class="k-image" src="img/temp/Sagittarius.png" alt="">射手座-艾俄洛斯</a></li>
                                        <li><a href="javascript:;"><img class="k-image" src="img/temp/Capricorn.png" alt="">山羊座-修罗</a></li>
                                        <li><a href="javascript:;"><img class="k-image" src="img/temp/Aquarius.png" alt="">水瓶座-卡妙</a></li>
                                        <li><a href="javascript:;"><img class="k-image" src="img/temp/Picses.png" alt="">双鱼座-阿布罗狄</a></li>
                                    </ul>
                                </li>
                                <li><i class="k-sprite fas fa-user k-required"></i>白银圣斗士</li>
                                <li><i class="k-sprite fas fa-user k-required"></i>青铜圣斗士</li>
                                <li><i class="k-sprite fas fa-user k-required"></i>暗黑圣斗士</li>
                                <li><i class="k-sprite fas fa-user k-required"></i>钢铁圣斗士</li>
                                <li><i class="k-sprite fas fa-users k-required"></i>圣斗士</li>
                                <li><i class="k-sprite fas fa-user-injured k-required"></i>杂兵</li>
                            </ul>
                        </li>
                        <li>
                            <i class="k-sprite fas fa-university k-required"></i>仙宫
                            <ul>
                                <li><i class="k-sprite fas fa-user-tie k-required"></i>神</li>
                                <li><i class="k-sprite fas fa-user-graduate k-required"></i>人间代言人</li>
                                <li><i class="k-sprite fas fa-user k-required"></i>神斗士</li>
                                <li><i class="k-sprite fas fa-user-injured k-required"></i>杂兵</li>
                            </ul>
                        </li>
                        <li>
                            <i class="k-sprite fas fa-university k-required"></i>海界
                            <ul>
                                <li><i class="k-sprite fas fa-user-tie k-required"></i>神</li>
                                <li><i class="k-sprite fas fa-user k-required"></i>海将军</li>
                                <li><i class="k-sprite fas fa-users k-required"></i>海斗士</li>
                                <li><i class="k-sprite fas fa-user-injured k-required"></i>杂兵</li>
                            </ul>
                        </li>
                        <li>
                            <i class="k-sprite fas fa-university k-required"></i>冥界
                            <ul>
                                <li><i class="k-sprite fas fa-user-tie k-required"></i>神</li>
                                <li><i class="k-sprite fas fa-user-graduate k-required"></i>指挥官</li>
                                <li><i class="k-sprite fas fa-user k-required"></i>三巨头</li>
                                <li><i class="k-sprite fas fa-user k-required"></i>天罡冥斗士</li>
                                <li><i class="k-sprite fas fa-user k-required"></i>地煞冥斗士</li>
                                <li><i class="k-sprite fas fa-users k-required"></i>冥斗士</li>
                                <li><i class="k-sprite fas fa-user-injured k-required"></i>杂兵</li>
                            </ul>
                        </li>
                        <li>
                            <i class="k-sprite fas fa-university k-required"></i>天界
                            <ul>
                                <li><i class="k-sprite fas fa-user-secret k-required"></i>天神</li>
                                <li><i class="k-sprite fas fa-user-tie k-required"></i>众神</li>
                                <li><i class="k-sprite fas fa-user-tie k-required"></i>邪神</li>
                                <li><i class="k-sprite fas fa-user k-required"></i>亡灵圣斗士</li>
                                <li><i class="k-sprite fas fa-user k-required"></i>日冕圣斗士</li>
                                <li><i class="k-sprite fas fa-user k-required"></i>圣魔天使</li>
                                <li><i class="k-sprite fas fa-user k-required"></i>狂斗士</li>
                                <li><i class="k-sprite fas fa-user k-required"></i>天斗士</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card mb-3">
                <h5 class="card-header">Ajax 树形视图</h5>
                <div class="card-body">
                    <div id="ajaxTreeView"></div>
                </div>
            </div>
        </div>
    </div>
</script>