<script id="pivotgridTemp" type="text/x-kendo-template">
    <div class="card mb-3">
        <h5 class="card-header">普通透视表格</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-xl-4">
                    <div class="w-100" id="generalPivotConfigurator"></div>
                </div>
                <div class="col-xl-8">
                    <div class="w-100" id="generalPivotGrid"></div>
                </div>
            </div>
        </div>
    </div>
</script>