<script id="comboboxTemp" type="text/x-kendo-template">
    <div class="row">
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">DOM 输入下拉框</h5>
                <div class="card-body">
                    <input id="domComboBox" placeholder="输入下拉框" value="31">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">普通输入下拉框</h5>
                <div class="card-body">
                    <input id="generalComboBox">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">只读输入下拉框</h5>
                <div class="card-body">
                    <input id="readonlyComboBox">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">禁用输入下拉框</h5>
                <div class="card-body">
                    <input id="disabledComboBox">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">默认值输入下拉框</h5>
                <div class="card-body">
                    <input id="defaultValueComboBox">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">筛选输入下拉框</h5>
                <div class="card-body">
                    <input id="filterComboBox">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">自定义首尾输入下拉框</h5>
                <div class="card-body">
                    <input id="headerFooterComboBox">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">自定义分组输入下拉框</h5>
                <div class="card-body">
                    <input class="w-100" id="groupComboBox">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">自定义列表项输入下拉框</h5>
                <div class="card-body">
                    <input id="customComboBox">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">新增项输入下拉框</h5>
                <div class="card-body">
                    <input id="addItemComboBox">
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card mb-3">
                <h5 class="card-header">等宽输入下拉框</h5>
                <div class="card-body">
                    <input class="w-100" id="widthComboBox">
                </div>
            </div>
        </div>
    </div>
</script>