<script id="datetimepickerTemp" type="text/x-kendo-template">
    <div class="row">
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">DOM 时日框</h5>
                <div class="card-body">
                    <input id="domDateTimePicker" type="datetime" placeholder="时日框" value="1949-10-01 19:00">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">普通时日框</h5>
                <div class="card-body">
                    <input id="generalDateTimePicker" type="datetime">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">只读时日框</h5>
                <div class="card-body">
                    <input id="readonlyDateTimePicker" type="datetime">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">禁用时日框</h5>
                <div class="card-body">
                    <input id="disabledDateTimePicker" type="datetime">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">默认值时日框</h5>
                <div class="card-body">
                    <input id="defaultValueDateTimePicker" type="datetime">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">星期数时日框</h5>
                <div class="card-body">
                    <input id="weekDateTimePicker">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">月份时日框</h5>
                <div class="card-body">
                    <input id="monthDateTimePicker">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">年份时日框</h5>
                <div class="card-body">
                    <input id="yearDateTimePicker">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">世纪时日框</h5>
                <div class="card-body">
                    <input id="centuryDateTimePicker">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">十二小时时日框</h5>
                <div class="card-body">
                    <input id="ampmDateTimePicker">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">毫秒时日框</h5>
                <div class="card-body">
                    <input id="millisecondDateTimePicker">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">秒钟时日框</h5>
                <div class="card-body">
                    <input id="secondDateTimePicker">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">分钟时日框</h5>
                <div class="card-body">
                    <input id="minuteDateTimePicker">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">小时时日框</h5>
                <div class="card-body">
                    <input id="hourDateTimePicker">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">掩码时日框</h5>
                <div class="card-body">
                    <input id="maskedDateTimePicker" type="datetime">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">屏蔽时日框</h5>
                <div class="card-body">
                    <input id="shieldDateTimePicker" type="datetime">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">格式转换时日框</h5>
                <div class="card-body">
                    <input id="parseDateTimePicker" type="datetime">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">自定义时间间隔时日框</h5>
                <div class="card-body">
                    <input id="intervalDateTimePicker" type="datetime">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">节假日时日框</h5>
                <div class="card-body">
                    <input id="holidayDateTimePicker" type="datetime">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">农历时日框</h5>
                <div class="card-body">
                    <input id="lunarDateTimePicker" type="datetime">
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card mb-3">
                <h5 class="card-header">等宽时日框</h5>
                <div class="card-body">
                    <input class="w-100" id="widthDateTimePicker" type="datetime">
                </div>
            </div>
        </div>
    </div>
    <style scoped>
        .k-datetimepicker {
            width: 250px;
        }
        .k-calendar .fa-star {
            color: #f35800;
        }
        .festival {
            border-color: #f35800;
            background-color: #fff;
            color: #f35800;
        }
        #lunarDateTimePicker_dateview .k-calendar-view {
            width: 24em;
            height: 24em;
        }
        #lunarDateTimePicker_dateview .k-calendar-view > table,
        #lunarDateTimePicker_dateview .k-calendar-view .k-link {
            width: 100%;
            height: 100%;
        }
        #lunarDateTimePicker_dateview .k-calendar-view .k-century .k-link {
            font-size: 12px;
            text-align: center;
            white-space: nowrap;
        }
    </style>
</script>