<script id="dateinputTemp" type="text/x-kendo-template">
    <div class="row">
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">DOM 时日掩码框</h5>
                <div class="card-body">
                    <input id="domDateInput" type="datetime" placeholder="时日掩码框" value="1949/10/01">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">普通时日掩码框</h5>
                <div class="card-body">
                    <input id="generalDateInput" type="datetime">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">只读时日掩码框</h5>
                <div class="card-body">
                    <input id="readonlyDateInput" type="datetime">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">禁用时日掩码框</h5>
                <div class="card-body">
                    <input id="disabledDateInput" type="datetime">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">默认值时日掩码框</h5>
                <div class="card-body">
                    <input id="defaultValueDateInput" type="datetime">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">星期时日掩码框</h5>
                <div class="card-body">
                    <input id="weekDateInput">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">月份时日掩码框</h5>
                <div class="card-body">
                    <input id="monthDateInput">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">年份时日掩码框</h5>
                <div class="card-body">
                    <input id="yearDateInput">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">十二小时时日掩码框</h5>
                <div class="card-body">
                    <input id="ampmDateInput">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">秒钟时日掩码框</h5>
                <div class="card-body">
                    <input id="secondDateInput">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">分钟时日掩码框</h5>
                <div class="card-body">
                    <input id="minuteDateInput">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">小时时日掩码框</h5>
                <div class="card-body">
                    <input id="hourDateInput">
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card mb-3">
                <h5 class="card-header">等宽时日掩码框</h5>
                <div class="card-body">
                    <input class="w-100" id="widthDateInput" type="datetime">
                </div>
            </div>
        </div>
    </div>
</script>