<script id="dropdownlistTemp" type="text/x-kendo-template">
    <div class="row">
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">DOM 单选下拉框</h5>
                <div class="card-body">
                    <select id="domDropDownList">
                        <option value="">单选下拉框</option>
                        <option value="31" selected></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">普通单选下拉框</h5>
                <div class="card-body">
                    <select id="generalDropDownList"></select>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">只读单选下拉框</h5>
                <div class="card-body">
                    <select id="readonlyDropDownList"></select>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">禁用单选下拉框</h5>
                <div class="card-body">
                    <select id="disabledDropDownList"></select>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">默认值单选下拉框</h5>
                <div class="card-body">
                    <select id="defaultValueDropDownList"></select>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">筛选单选下拉框</h5>
                <div class="card-body">
                    <select id="filterDropDownList"></select>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">自定义首尾单选下拉框</h5>
                <div class="card-body">
                    <select id="headerFooterDropDownList"></select>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">自定义分组单选下拉框</h5>
                <div class="card-body">
                    <select class="w-100" id="groupDropDownList"></select>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">自定义列表项单选下拉框</h5>
                <div class="card-body">
                    <select id="customDropDownList"></select>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">新增项单选下拉框</h5>
                <div class="card-body">
                    <select id="addItemDropDownList"></select>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">自定义占位符单选下拉框</h5>
                <div class="card-body">
                    <select id="placeholderDropDownList"></select>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">等宽单选下拉框</h5>
                <div class="card-body">
                    <select class="w-100" id="widthDropDownList"></select>
                </div>
            </div>
        </div>
    </div>
</script>