<script id="maskedtextboxTemp" type="text/x-kendo-template">
    <div class="row">
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">DOM 掩码框</h5>
                <div class="card-body">
                    <input id="domMaskedTextBox" placeholder="掩码框" value="(021)-88888888">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">普通掩码框</h5>
                <div class="card-body">
                    <input id="generalMaskedTextBox">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">只读掩码框</h5>
                <div class="card-body">
                    <input id="readonlyMaskedTextBox">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">禁用掩码框</h5>
                <div class="card-body">
                    <input id="disabledMaskedTextBox">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">默认值掩码框</h5>
                <div class="card-body">
                    <input id="defaultValueMaskedTextBox">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">货币掩码框</h5>
                <div class="card-body">
                    <input id="currencyMaskedTextBox">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">自定义提示符掩码框</h5>
                <div class="card-body">
                    <input id="promptMaskedTextBox">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">汉字掩码框</h5>
                <div class="card-body">
                    <input id="characterCNMaskedTextBox">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">简易手机掩码框</h5>
                <div class="card-body">
                    <input id="mobileMaskedTextBox">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">简易身份证掩码框</h5>
                <div class="card-body">
                    <input id="idCardMaskedTextBox">
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card mb-3">
                <h5 class="card-header">等宽掩码框</h5>
                <div class="card-body">
                    <input class="w-100" id="widthMaskedTextBox">
                </div>
            </div>
        </div>
    </div>
</script>