<script id="sliderTemp" type="text/x-kendo-template">
    <div class="row">
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">DOM 滑块框</h5>
                <div class="card-body">
                    <input id="domSlider" type="range" value="8">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">普通滑块框</h5>
                <div class="card-body">
                    <input id="generalSlider" type="range">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">禁用滑块框</h5>
                <div class="card-body">
                    <input id="disabledSlider" type="range">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">默认值滑块框</h5>
                <div class="card-body">
                    <input id="defaultValueSlider" type="range">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">自定义步进滑块框</h5>
                <div class="card-body">
                    <input id="stepSlider" type="range">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">无数值滑块框</h5>
                <div class="card-body">
                    <input id="noNumSlider" type="range">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">无按钮滑块框</h5>
                <div class="card-body">
                    <input id="noButtonSlider" type="range">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">无提示滑块框</h5>
                <div class="card-body">
                    <input id="noTipSlider" type="range">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">自定义格式滑块框</h5>
                <div class="card-body">
                    <input id="formatSlider" type="range">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">自定义滑块框</h5>
                <div class="card-body">
                    <input id="customSlider" type="range">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">上刻度滑块框</h5>
                <div class="card-body">
                    <input id="topSlider" type="range">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">下刻度滑块框</h5>
                <div class="card-body">
                    <input id="bottomSlider" type="range">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">左刻度滑块框</h5>
                <div class="card-body">
                    <input id="leftSlider" type="range">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">右刻度滑块框</h5>
                <div class="card-body">
                    <input id="rightSlider" type="range">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">无刻度滑块框</h5>
                <div class="card-body">
                    <input id="noTickSlider" type="range">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">垂直滑块框</h5>
                <div class="card-body">
                    <input id="verticalSlider" type="range">
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card mb-3">
                <h5 class="card-header">等宽滑块框</h5>
                <div class="card-body">
                    <input class="w-100" id="widthSlider" type="range">
                </div>
            </div>
        </div>
    </div>
</script>