<script id="timepickerTemp" type="text/x-kendo-template">
    <div class="row">
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">DOM 时间框</h5>
                <div class="card-body">
                    <input id="domTimePicker" type="time" placeholder="时间框" value="19:00">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">普通时间框</h5>
                <div class="card-body">
                    <input id="generalTimePicker" type="time">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">只读时间框</h5>
                <div class="card-body">
                    <input id="readonlyTimePicker" type="time">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">禁用时间框</h5>
                <div class="card-body">
                    <input id="disabledTimePicker" type="time">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">默认值时间框</h5>
                <div class="card-body">
                    <input id="defaultValueTimePicker" type="time">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">十二小时时间框</h5>
                <div class="card-body">
                    <input id="ampmTimePicker" type="time">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">毫秒时间框</h5>
                <div class="card-body">
                    <input id="millisecondTimePicker" type="time">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">秒钟时间框</h5>
                <div class="card-body">
                    <input id="secondTimePicker" type="time">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">分钟时间框</h5>
                <div class="card-body">
                    <input id="minuteTimePicker" type="time">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">小时时间框</h5>
                <div class="card-body">
                    <input id="hourTimePicker" type="time">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">掩码时间框</h5>
                <div class="card-body">
                    <input id="maskedTimePicker" type="time">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">固定时间框</h5>
                <div class="card-body">
                    <input id="fixedTimePicker" type="time">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">格式转换时间框</h5>
                <div class="card-body">
                    <input id="parseTimePicker" type="time">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="card mb-3">
                <h5 class="card-header">自定义间隔时间框</h5>
                <div class="card-body">
                    <input id="intervalTimePicker" type="time">
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card mb-3">
                <h5 class="card-header">等宽时间框</h5>
                <div class="card-body">
                    <input class="w-100" id="widthTimePicker" type="time">
                </div>
            </div>
        </div>
    </div>
</script>