<script id="form_elementsTemp" type="text/x-kendo-template">
    <form>
        <p class="text-center">
            <span class="k-invalid-msg" data-for="el"></span>
        </p>
        <div class="card-columns">
            <div class="card">
                <h5 class="card-header">文本<small class="text-muted ml-2">Text</small></h5>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-xl-4">
                            <label class="d-block">HTML 5 原生：</label>
                            <input class="w-100" name="el" type="text" placeholder="正常">
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input class="w-100" name="el" type="text" placeholder="只读" readonly>
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input class="w-100" name="el" type="text" placeholder="禁用" disabled>
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-block">Kendo UI：</label>
                            <input class="k-textbox w-100" name="el" type="text" placeholder="正常">
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input class="k-textbox w-100" name="el" type="text" placeholder="只读" readonly>
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input class="k-textbox w-100" name="el" type="text" placeholder="禁用" disabled>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <h5 class="card-header">密码<small class="text-muted ml-2">Password</small></h5>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-xl-4">
                            <label class="d-block">HTML 5 原生：</label>
                            <input class="w-100" name="el" type="password" placeholder="正常">
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input class="w-100" name="el" type="password" placeholder="只读" readonly>
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input class="w-100" name="el" type="password" placeholder="禁用" disabled>
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-block">Kendo UI：</label>
                            <input class="k-textbox w-100" name="el" type="password" placeholder="正常">
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input class="k-textbox w-100" name="el" type="password" placeholder="只读" readonly>
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input class="k-textbox w-100" name="el" type="password" placeholder="禁用" disabled>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <h5 class="card-header">邮箱<small class="text-muted ml-2">Email</small></h5>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-xl-4">
                            <label class="d-block">HTML 5 原生：</label>
                            <input class="w-100" name="el" type="email" placeholder="正常">
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input class="w-100" name="el" type="email" placeholder="只读" readonly>
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input class="w-100" name="el" type="email" placeholder="禁用" disabled>
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-block">Kendo UI：</label>
                            <input class="k-textbox w-100" name="el" type="email" placeholder="正常">
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input class="k-textbox w-100" name="el" type="email" placeholder="只读" readonly>
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input class="k-textbox w-100" name="el" type="email" placeholder="禁用" disabled>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <h5 class="card-header">电话<small class="text-muted ml-2">Tel</small></h5>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-xl-4">
                            <label class="d-block">HTML 5 原生：</label>
                            <input class="w-100" name="el" type="tel" placeholder="正常">
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input class="w-100" name="el" type="tel" placeholder="只读" readonly>
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input class="w-100" name="el" type="tel" placeholder="禁用" disabled>
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-block">Kendo UI：</label>
                            <input class="k-textbox w-100" name="el" type="tel" placeholder="正常">
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input class="k-textbox w-100" name="el" type="tel" placeholder="只读" readonly>
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input class="k-textbox w-100" name="el" type="tel" placeholder="禁用" disabled>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <h5 class="card-header">网址<small class="text-muted ml-2">Url</small></h5>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-xl-4">
                            <label class="d-block">HTML 5 原生：</label>
                            <input class="w-100" name="el" type="url" placeholder="正常">
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input class="w-100" name="el" type="url" placeholder="只读" readonly>
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input class="w-100" name="el" type="url" placeholder="禁用" disabled>
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-block">Kendo UI：</label>
                            <input class="k-textbox w-100" name="el" type="url" placeholder="正常">
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input class="k-textbox w-100" name="el" type="url" placeholder="只读" readonly>
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input class="k-textbox w-100" name="el" type="url" placeholder="禁用" disabled>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <h5 class="card-header">月份<small class="text-muted ml-2">Month</small></h5>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-xl-4">
                            <label class="d-block">HTML 5 原生：</label>
                            <input class="w-100" name="el" type="month" placeholder="正常">
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input class="w-100" name="el" type="month" placeholder="只读" readonly>
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input class="w-100" name="el" type="month" placeholder="禁用" disabled>
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-block">Kendo UI：</label>
                            <input class="w-100" id="monthNormal" name="el" type="month" placeholder="正常">
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input class="w-100" id="monthReadonly" name="el" type="month" placeholder="只读" readonly>
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input class="w-100" id="monthDisabled" name="el" type="month" placeholder="禁用" disabled>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <h5 class="card-header">星期<small class="text-muted ml-2">Week</small></h5>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-xl-4">
                            <label class="d-block">HTML 5 原生：</label>
                            <input class="w-100" name="el" type="week" placeholder="正常">
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input class="w-100" name="el" type="week" placeholder="只读" readonly>
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input class="w-100" name="el" type="week" placeholder="禁用" disabled>
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-block">Kendo UI：</label>
                            <input class="w-100" id="weekNormal" name="el" type="week" placeholder="正常">
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input class="w-100" id="weekReadonly" name="el" type="week" placeholder="只读" readonly>
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input class="w-100" id="weekDisabled" name="el" type="week" placeholder="禁用" disabled>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <h5 class="card-header">日期<small class="text-muted ml-2">Date</small></h5>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-xl-4">
                            <label class="d-block">HTML 5 原生：</label>
                            <input class="w-100" name="el" type="date" placeholder="正常">
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input class="w-100" name="el" type="date" placeholder="只读" readonly>
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input class="w-100" name="el" type="date" placeholder="禁用" disabled>
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-block">Kendo UI：</label>
                            <input class="w-100" id="dateNormal" name="el" type="date" placeholder="正常">
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input class="w-100" id="dateReadonly" name="el" type="date" placeholder="只读" readonly>
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input class="w-100" id="dateDisabled" name="el" type="date" placeholder="禁用" disabled>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <h5 class="card-header">时间<small class="text-muted ml-2">Time</small></h5>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-xl-4">
                            <label class="d-block">HTML 5 原生：</label>
                            <input class="w-100" name="el" type="time" placeholder="正常">
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input class="w-100" name="el" type="time" placeholder="只读" readonly>
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input class="w-100" name="el" type="time" placeholder="禁用" disabled>
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-block">Kendo UI：</label>
                            <input class="w-100" id="timeNormal" name="el" type="time" placeholder="正常">
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input class="w-100" id="timeReadonly" name="el" type="time" placeholder="只读" readonly>
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input class="w-100" id="timeDisabled" name="el" type="time" placeholder="禁用" disabled>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <h5 class="card-header">时日<small class="text-muted ml-2">DateTime</small></h5>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-xl-4">
                            <label class="d-block">HTML 5 原生：</label>
                            <input class="w-100" name="el" type="datetime" placeholder="正常">
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input class="w-100" name="el" type="datetime" placeholder="只读" readonly>
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input class="w-100" name="el" type="datetime" placeholder="禁用" disabled>
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-block">Kendo UI：</label>
                            <input class="w-100" id="datetimeNormal" name="el" type="datetime" placeholder="正常">
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input class="w-100" id="datetimeReadonly" name="el" type="datetime" placeholder="只读" readonly>
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input class="w-100" id="datetimeDisabled" name="el" type="datetime" placeholder="禁用" disabled>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <h5 class="card-header">搜索<small class="text-muted ml-2">Search</small></h5>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-xl-4">
                            <label class="d-block">HTML 5 原生：</label>
                            <input class="w-100" name="el" type="search" placeholder="正常">
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input class="w-100" name="el" type="search" placeholder="只读" readonly>
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input class="w-100" name="el" type="search" placeholder="禁用" disabled>
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-block">Kendo UI：</label>
                            <span class="k-textbox k-space-left w-100"><input name="el" type="search" placeholder="正常"><a class="k-icon k-i-search k-required" href="javascript:;"></a></span>
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <span class="k-textbox k-space-left w-100"><input name="el" type="search" placeholder="只读" readonly><a class="k-icon k-i-search k-required" href="javascript:;"></a></span>
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <span class="k-textbox k-space-left w-100"><input name="el" type="search" placeholder="禁用" disabled><a class="k-icon k-i-search k-required" href="javascript:;"></a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <h5 class="card-header">数字<small class="text-muted ml-2">Number</small></h5>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-xl-4">
                            <label class="d-block">HTML 5 原生：</label>
                            <input class="w-100" name="el" type="number" placeholder="正常">
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input class="w-100" name="el" type="number" placeholder="只读" readonly>
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input class="w-100" name="el" type="number" placeholder="禁用" disabled>
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-block">Kendo UI：</label>
                            <input class="w-100" id="numberNormal" name="el" type="number" placeholder="正常">
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input class="w-100" id="numberReadonly" name="el" type="number" placeholder="只读" readonly>
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input class="w-100" id="numberDisabled" name="el" type="number" placeholder="禁用" disabled>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <h5 class="card-header">范围<small class="text-muted ml-2">Range</small></h5>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-xl-6">
                            <label class="d-block">HTML 5 原生：</label>
                            <input class="w-100" name="el" type="range" placeholder="正常">
                        </div>
                        <div class="form-group col-xl-6">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input class="w-100" name="el" type="range" placeholder="禁用" disabled>
                        </div>
                        <div class="form-group col-xl-6">
                            <label class="d-block">Kendo UI：</label>
                            <input class="w-100" id="rangeNormal" name="el" type="range" placeholder="正常">
                        </div>
                        <div class="form-group col-xl-6">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input class="w-100" id="rangeDisabled" name="el" type="range" placeholder="禁用" disabled>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <h5 class="card-header">颜色<small class="text-muted ml-2">Color</small></h5>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-xl-6">
                            <label class="d-block">HTML 5 原生：</label>
                            <input class="w-100" name="el" type="color" placeholder="正常">
                        </div>
                        <div class="form-group col-xl-6">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input class="w-100" name="el" type="color" placeholder="禁用" disabled>
                        </div>
                        <div class="form-group col-xl-6">
                            <label class="d-block">Kendo UI：</label>
                            <input class="w-100" id="colorNormal" name="el" type="color" placeholder="正常">
                        </div>
                        <div class="form-group col-xl-6">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input class="w-100" id="colorDisabled" name="el" type="color" placeholder="禁用" disabled>
                        </div>
                        <div class="form-group col-xl-6">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <div class="w-100" id="paletteNormal"></div>
                        </div>
                        <div class="form-group col-xl-6">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <div class="w-100" id="paletteDisabled"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <h5 class="card-header">文本域<small class="text-muted ml-2">TextArea</small></h5>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-xl-4">
                            <label class="d-block">HTML 5 原生：</label>
                            <textarea class="w-100" name="el" placeholder="正常"></textarea>
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <textarea class="w-100" name="el" placeholder="只读" readonly></textarea>
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <textarea class="w-100" name="el" placeholder="禁用" disabled></textarea>
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-block">Kendo UI：</label>
                            <textarea class="k-textarea w-100" name="el" placeholder="正常"></textarea>
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <textarea class="k-textarea w-100" name="el" placeholder="只读" readonly></textarea>
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <textarea class="k-textarea w-100" name="el" placeholder="禁用" disabled></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <h5 class="card-header">单选框<small class="text-muted ml-2">Radio</small></h5>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-xl-4">
                            <label class="d-block">HTML 5 原生：</label>
                            <input name="el1" type="radio">正常
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input name="el1" type="radio" checked>选中
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input name="el1" type="radio" disabled>禁用
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-block">Kendo UI：</label>
                            <input class="k-radio" id="radioNormal" name="el2" type="radio"><label class="k-radio-label" for="radioNormal">正常</label>
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input class="k-radio" id="radioChecked" name="el2" type="radio" checked><label class="k-radio-label" for="radioChecked">选中</label>
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input class="k-radio" id="radioDisabled" name="el2" type="radio" disabled><label class="k-radio-label" for="radioDisabled">禁用</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <h5 class="card-header">复选框<small class="text-muted ml-2">CheckBox</small></h5>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-xl-3">
                            <label class="d-block">HTML 5 原生：</label>
                            <input name="el3" type="checkbox">正常
                        </div>
                        <div class="form-group col-xl-3">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input class="indeterminate" name="el3" type="checkbox">半选
                        </div>
                        <div class="form-group col-xl-3">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input name="el3" type="checkbox" checked>选中
                        </div>
                        <div class="form-group col-xl-3">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input name="el3" type="checkbox" disabled>禁用
                        </div>
                        <div class="form-group col-xl-3">
                            <label class="d-block">Kendo UI：</label>
                            <input class="k-checkbox" id="checkboxNormal" name="el4" type="checkbox"><label class="k-checkbox-label" for="checkboxNormal">正常</label>
                        </div>
                        <div class="form-group col-xl-3">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input class="k-checkbox indeterminate" id="checkboxIndeterminate" name="el4" type="checkbox" checked><label class="k-checkbox-label" for="checkboxIndeterminate">半选</label>
                        </div>
                        <div class="form-group col-xl-3">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input class="k-checkbox" id="checkboxChecked" name="el4" type="checkbox" checked><label class="k-checkbox-label" for="checkboxChecked">选中</label>
                        </div>
                        <div class="form-group col-xl-3">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input class="k-checkbox" id="checkboxDisabled" name="el4" type="checkbox" disabled><label class="k-checkbox-label" for="checkboxDisabled">禁用</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <h5 class="card-header">选择框<small class="text-muted ml-2">Select</small></h5>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-xl-4">
                            <label class="d-block">HTML 5 原生：</label>
                            <select class="w-100" name="el">
                                <option>正常</option>
                                <option>选择一</option>
                                <option>选择二</option>
                                <option>选择三</option>
                            </select>
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <select class="w-100" name="el" onfocus="this.defaultIndex=this.selectedIndedx;" onchange="this.selectedIndex=this.defaultIndex;">
                                <option>只读</option>
                                <option>选择一</option>
                                <option>选择二</option>
                                <option>选择三</option>
                            </select>
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <select class="w-100" name="el" disabled>
                                <option>禁用</option>
                                <option>选择一</option>
                                <option>选择二</option>
                                <option>选择三</option>
                            </select>
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-block">Kendo UI：</label>
                            <select class="w-100" id="selectNormal" name="el">
                                <option>正常</option>
                                <option>选择一</option>
                                <option>选择二</option>
                                <option>选择三</option>
                            </select>
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <select class="w-100" id="selectReadonly" name="el">
                                <option>只读</option>
                                <option>选择一</option>
                                <option>选择二</option>
                                <option>选择三</option>
                            </select>
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <select class="w-100" id="selectDisabled" name="el" disabled>
                                <option>禁用</option>
                                <option>选择一</option>
                                <option>选择二</option>
                                <option>选择三</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <h5 class="card-header">多选框<small class="text-muted ml-2">Multiple</small></h5>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-xl-6">
                            <label class="d-block">HTML 5 原生：</label>
                            <select class="w-100" name="el" multiple>
                                <option disabled>正常</option>
                                <option>选择一</option>
                                <option>选择二</option>
                                <option>选择三</option>
                            </select>
                        </div>
                        <div class="form-group col-xl-6">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <select class="w-100" name="el" multiple disabled>
                                <option disabled>禁用</option>
                                <option>选择一</option>
                                <option>选择二</option>
                                <option>选择三</option>
                            </select>
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-block">Kendo UI：</label>
                            <select class="w-100" id="multipleNormal" name="el" multiple>
                                <option>选择一</option>
                                <option>选择二</option>
                                <option>选择三</option>
                            </select>
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <select class="w-100" id="multipleReadonly" name="el" multiple>
                                <option>选择一</option>
                                <option>选择二</option>
                                <option>选择三</option>
                            </select>
                        </div>
                        <div class="form-group col-xl-4">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <select class="w-100" id="multipleDisabled" name="el" multiple disabled>
                                <option>选择一</option>
                                <option>选择二</option>
                                <option>选择三</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <h5 class="card-header">文件域<small class="text-muted ml-2">File</small></h5>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-xl-6">
                            <label class="d-block">HTML 5 原生：</label>
                            <input class="w-100" name="el" type="file">
                        </div>
                        <div class="form-group col-xl-6">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input class="w-100" name="el" type="file" disabled>
                        </div>
                        <div class="form-group col-xl-6">
                            <label class="d-block">Kendo UI：</label>
                            <input class="w-100" id="fileNormal" name="el" type="file">
                        </div>
                        <div class="form-group col-xl-6">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <input class="w-100" id="fileDisabled" name="el" type="file">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <h5 class="card-header">按钮<small class="text-muted ml-2">Button</small></h5>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-xl-6">
                            <label class="d-block">HTML 5 原生：</label>
                            <button type="button">按钮</button>
                            <button type="submit">提交</button>
                            <button type="reset">重置</button>
                        </div>
                        <div class="form-group col-xl-6">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <button type="button" disabled>按钮</button>
                            <button type="submit" disabled>提交</button>
                            <button type="reset" disabled>重置</button>
                        </div>
                        <div class="form-group col-xl-6">
                            <label class="d-block">Kendo UI：</label>
                            <button class="k-button" type="button">按钮</button>
                            <button class="k-button" type="submit">提交</button>
                            <button class="k-button" type="reset">重置</button>
                        </div>
                        <div class="form-group col-xl-6">
                            <label class="d-none d-xl-block">&nbsp;</label>
                            <button class="k-button" type="button" disabled>按钮</button>
                            <button class="k-button" type="submit" disabled>提交</button>
                            <button class="k-button" type="reset" disabled>重置</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</script>