<script id="splitterTemp" type="text/x-kendo-template">
    <div id="splitterBody">
        <header class="theme-s-bg d-flex justify-content-center align-items-center" id="splitterHeader">顶部</header>
        <section id="splitterSection">
            <nav class="theme-m-bg d-flex justify-content-center align-items-center" id="splitterNav">导航栏</nav>
            <main class="d-flex justify-content-center align-items-center" id="splitterMain">主要内容</main>
            <aside class="k-alt d-flex justify-content-center align-items-center" id="splitterAside">侧边栏</aside>
        </section>
        <footer class="theme-s-bg d-flex justify-content-center align-items-center" id="splitterFooter">底部</footer>
    </div>
    <style scoped>
        #splitterSection {
            border-width: 0;
        }
    </style>
</script>