<script id="globalizationTemp" type="text/x-kendo-template">
    <div class="card mb-3">
        <h5 class="card-header">交互区域</h5>
        <div class="card-body">选择语言：<select id="langList"></select></div>
    </div>
    <div class="card">
        <h5 class="card-header">结果区域</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-12 mb-1">
                    <input id="numericTextBox" value="100">
                </div>
                <div class="col-12">
                    <div id="calendar"></div>
                </div>
                <div class="col-12">
                    <div id="multiViewCalendar"></div>
                </div>
            </div>
        </div>
    </div>
</script>