<script id="touch_eventsTemp" type="text/x-kendo-template">
    <div class="card mb-3">
        <h5 class="card-header">交互区域</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="card mb-3">
                        <div class="card-body text-center py-5 k-alt" id="touchBox">
                            触碰 <small class="text-black-50">Touch</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="card mb-3">
                        <div class="card-body text-center py-5 k-alt" id="dragBox">
                            拖放 <small class="text-black-50">Drag</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="card mb-3">
                        <div class="card-body text-center py-5 k-alt" id="tapBox">
                            点击 <small class="text-black-50">Tap</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="card mb-3">
                        <div class="card-body text-center py-5 k-alt" id="doubletapBox">
                            双击 <small class="text-black-50">Double Tap</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="card mb-3">
                        <div class="card-body text-center py-5 k-alt" id="holdBox">
                            按住 <small class="text-black-50">Hold</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="card mb-3">
                        <div class="card-body text-center py-5 k-alt" id="swipeBox">
                            滑动 <small class="text-black-50">Swipe</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="card mb-3">
                        <div class="card-body text-center py-5 k-alt" id="gestureBox">
                            手势 <small class="text-black-50">Gesture</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>