{% extends "shared/layout.html" %}
{% block title %}页面找不到啦{% endblock %}
{% block body %}
<div class="position-absolute w-100 h-100 d-flex flex-column justify-content-center align-items-center">
    <p><img src="/resource/ui/img/404.png" alt="404"><span class="display-1 align-middle">404</span></p>
    <p class="lead">页面找不到啦~</p>
    <p><time class="h5 theme-m mr-2"></time>秒后</p>
    <p><a class="k-button k-button-lg k-state-selected" href="/">返回首页</a></p>
</div>
{% endblock %}
{% block scripts %}
<script>
    $(function () {
        // 返回首页
        var sec = 3,
            intervalID = setInterval(function () {
                if (sec > 1) {
                    sec = sec - 1;
                    $('time').text(sec);
                } else {
                    clearInterval(intervalID);
                    location.href = '/';
                }
            }, 1000);
        $('time').text(sec);
    });
</script>
{% endblock %}